<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>  
    <ion-title>แก้ไขข้อมูลส่วนตัว</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-list>
  
      <ion-item>
        <ion-label position="stacked">อีเมลล์</ion-label>
        <ion-input [(ngModel)]="email" value="{{email}}"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">ชื่อ</ion-label>
        <ion-input [(ngModel)]="name" value="{{name}}"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">เบอร์โทรศัพท์</ion-label>
        <ion-input [(ngModel)]="phone" value="{{phone}}"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="stacked">ที่อยู่</ion-label>
        <ion-input [(ngModel)]="location" value="{{location}}"></ion-input>
      </ion-item>

    </ion-list>
  </ion-card>

  <ion-button expand="block"  color="worring" (click)=" edit()">แก้ไขข้อมูลส่วนตัว</ion-button>
  
      <ion-input hidden [(ngModel)]="password" value="{{password}}"></ion-input>
</ion-content>
