<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>  
    <ion-title>ข้อมูลส่วนตัว</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-list>

    <ion-item>
      <ion-label position="stacked">อีเมลล์</ion-label>
      <ion-input readonly value="{{email}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">ชื่อ</ion-label>
      <ion-input readonly value="{{name}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">เบอร์โทรศัพท์</ion-label>
      <ion-input readonly value="{{phone}}"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">ที่อยู่</ion-label>
      <ion-input readonly value="{{location}}"></ion-input>
    </ion-item>
  </ion-list>

  </ion-card>
      
  <ion-button expand="block"  color="warning" (click)=" ioncPush()">แก้ไขข้อมูลส่วนตัว</ion-button>
  <ion-button expand="block"  color="danger" (click)=" btnLogout()">ออกจากระบบ</ion-button>
</ion-content>
