<ion-header>
  <ion-toolbar>
    <ion-title> {{item.FOOD_NAME}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
    <ion-img src="https://firebasestorage.googleapis.com/v0/b/test-98b25.appspot.com/o/images%2F{{item.FOOD_IMG}}.jpg?alt=media&token=f20a56f1-6ecd-4244-bec2-5344d235038b"></ion-img>
      <ion-item color='warning'>
        <ion-label>
          {{item.FOOD_NAME}}
        </ion-label>
      </ion-item>
    
      <ion-item color='warning'>
        <ion-label>
            ราคา &nbsp; {{item.FOOD_PRICE}} &nbsp; บาท
        </ion-label>
      </ion-item><!-- 
        <ion-item>
          <ion-label>
            จำนวน : &nbsp;&nbsp;
          </ion-label>
          <ion-input required type="number" readonly min="1" id='amout' id="amout" name='amout' [(ngModel)]="amout" value="1" placeholder="จำนวนที่ต้องการสั่ง">
            กล่อง
          </ion-input>
        </ion-item>
 -->
        
        <ion-item>
            <ion-label>จำนวน</ion-label>
            <ion-select ok-text="Okay" cancel-text="cancel" [(ngModel)]="amout" >
              <ion-select-option selected>1</ion-select-option>
              <ion-select-option  >2</ion-select-option>
              <ion-select-option  >3</ion-select-option>
              <ion-select-option  >4</ion-select-option>
              <ion-select-option  >5</ion-select-option>
              <ion-select-option  >6</ion-select-option>
              <ion-select-option  >7</ion-select-option>
              <ion-select-option  >8</ion-select-option>
              <ion-select-option  >9</ion-select-option>
              <ion-select-option  >10</ion-select-option>
              <ion-select-option  >11</ion-select-option>
              <ion-select-option  >12</ion-select-option>
              <ion-select-option  >13</ion-select-option>
              <ion-select-option  >14</ion-select-option>
              <ion-select-option  >15</ion-select-option>
              <ion-select-option  >16</ion-select-option>
              <ion-select-option  >17</ion-select-option>
              <ion-select-option  >18</ion-select-option>
              <ion-select-option  >19</ion-select-option>
              <ion-select-option  >20</ion-select-option>
              <ion-select-option  >21</ion-select-option>
              <ion-select-option  >22</ion-select-option>
              <ion-select-option  >23</ion-select-option>
              <ion-select-option  >24</ion-select-option>
              <ion-select-option  >25</ion-select-option>
              <ion-select-option  >26</ion-select-option>
              <ion-select-option  >27</ion-select-option>
              <ion-select-option  >28</ion-select-option>
              <ion-select-option  >29</ion-select-option>
              <ion-select-option  >30</ion-select-option>
              <ion-select-option  >31</ion-select-option>
              <ion-select-option  >32</ion-select-option>
              <ion-select-option  >33</ion-select-option>
              <ion-select-option  >34</ion-select-option>
              <ion-select-option  >35</ion-select-option>
              <ion-select-option  >36</ion-select-option>
              <ion-select-option  >37</ion-select-option>
              <ion-select-option  >38</ion-select-option>
              <ion-select-option  >39</ion-select-option>
              <ion-select-option  >40</ion-select-option>
              <ion-select-option  >41</ion-select-option>
              <ion-select-option  >42</ion-select-option>
              <ion-select-option  >43</ion-select-option>
              <ion-select-option  >44</ion-select-option>
              <ion-select-option  >45</ion-select-option>
              <ion-select-option  >46</ion-select-option>
              <ion-select-option  >47</ion-select-option>
              <ion-select-option  >48</ion-select-option>
              <ion-select-option  >49</ion-select-option>
              <ion-select-option  >50</ion-select-option>
              <ion-select-option  >51</ion-select-option>
              <ion-select-option  >52</ion-select-option>
              <ion-select-option  >53</ion-select-option>
              <ion-select-option  >54</ion-select-option>
              <ion-select-option  >55</ion-select-option>
              <ion-select-option  >56</ion-select-option>
              <ion-select-option  >57</ion-select-option>
              <ion-select-option  >58</ion-select-option>
              <ion-select-option  >59</ion-select-option>
              <ion-select-option  >60</ion-select-option>
              <ion-select-option  >61</ion-select-option>
              <ion-select-option  >62</ion-select-option>
              <ion-select-option  >63</ion-select-option>
              <ion-select-option  >64</ion-select-option>
              <ion-select-option  >65</ion-select-option>
              <ion-select-option  >66</ion-select-option>
              <ion-select-option  >67</ion-select-option>
              <ion-select-option  >68</ion-select-option>
              <ion-select-option  >69</ion-select-option>
              <ion-select-option  >70</ion-select-option>
              <ion-select-option  >71</ion-select-option>
              <ion-select-option  >72</ion-select-option>
              <ion-select-option  >73</ion-select-option>
              <ion-select-option  >74</ion-select-option>
              <ion-select-option  >75</ion-select-option>
              <ion-select-option  >76</ion-select-option>
              <ion-select-option  >77</ion-select-option>
              <ion-select-option  >78</ion-select-option>
              <ion-select-option  >79</ion-select-option>
              <ion-select-option  >80</ion-select-option>
              <ion-select-option  >81</ion-select-option>
              <ion-select-option  >82</ion-select-option>
              <ion-select-option  >83</ion-select-option>
              <ion-select-option  >84</ion-select-option>
              <ion-select-option  >85</ion-select-option>
              <ion-select-option  >86</ion-select-option>
              <ion-select-option  >87</ion-select-option>
              <ion-select-option  >88</ion-select-option>
              <ion-select-option  >89</ion-select-option>
              <ion-select-option  >90</ion-select-option>
              <ion-select-option  >91</ion-select-option>
              <ion-select-option  >92</ion-select-option>
              <ion-select-option  >93</ion-select-option>
              <ion-select-option  >94</ion-select-option>
              <ion-select-option  >95</ion-select-option>
              <ion-select-option  >96</ion-select-option>
              <ion-select-option  >97</ion-select-option>
              <ion-select-option  >98</ion-select-option>
              <ion-select-option  >99</ion-select-option>
              <ion-select-option  >100</ion-select-option>
              <ion-select-option  >101</ion-select-option>
              <ion-select-option  >102</ion-select-option>
              <ion-select-option  >103</ion-select-option>
              <ion-select-option  >104</ion-select-option>
              <ion-select-option  >105</ion-select-option>
              <ion-select-option  >106</ion-select-option>
              <ion-select-option  >107</ion-select-option>
              <ion-select-option  >108</ion-select-option>
              <ion-select-option  >109</ion-select-option>
              <ion-select-option  >110</ion-select-option>
              <ion-select-option  >111</ion-select-option>
              <ion-select-option  >112</ion-select-option>
              <ion-select-option  >113</ion-select-option>
              <ion-select-option  >114</ion-select-option>
              <ion-select-option  >115</ion-select-option>
              <ion-select-option  >116</ion-select-option>
              <ion-select-option  >117</ion-select-option>
              <ion-select-option  >118</ion-select-option>
              <ion-select-option  >119</ion-select-option>
              <ion-select-option  >120</ion-select-option>
              <ion-select-option  >121</ion-select-option>
              <ion-select-option  >122</ion-select-option>
              <ion-select-option  >123</ion-select-option>
              <ion-select-option  >124</ion-select-option>
              <ion-select-option  >125</ion-select-option>
              <ion-select-option  >126</ion-select-option>
              <ion-select-option  >127</ion-select-option>
              <ion-select-option  >128</ion-select-option>
              <ion-select-option  >129</ion-select-option>
              <ion-select-option  >130</ion-select-option>
              <ion-select-option  >131</ion-select-option>
              <ion-select-option  >132</ion-select-option>
              <ion-select-option  >133</ion-select-option>
              <ion-select-option  >134</ion-select-option>
              <ion-select-option  >135</ion-select-option>
              <ion-select-option  >136</ion-select-option>
              <ion-select-option  >137</ion-select-option>
              <ion-select-option  >138</ion-select-option>
              <ion-select-option  >139</ion-select-option>
              <ion-select-option  >140</ion-select-option>
              <ion-select-option  >141</ion-select-option>
              <ion-select-option  >142</ion-select-option>
              <ion-select-option  >143</ion-select-option>
              <ion-select-option  >144</ion-select-option>
              <ion-select-option  >145</ion-select-option>
              <ion-select-option  >146</ion-select-option>
              <ion-select-option  >147</ion-select-option>
              <ion-select-option  >148</ion-select-option>
              <ion-select-option  >149</ion-select-option>
              <ion-select-option  >150</ion-select-option>
              <ion-select-option  >151</ion-select-option>
              <ion-select-option  >152</ion-select-option>
              <ion-select-option  >153</ion-select-option>
              <ion-select-option  >154</ion-select-option>
              <ion-select-option  >155</ion-select-option>
              <ion-select-option  >156</ion-select-option>
              <ion-select-option  >1157</ion-select-option>
              <ion-select-option  >158</ion-select-option>
              <ion-select-option  >159</ion-select-option>
              <ion-select-option  >160</ion-select-option>
              <ion-select-option  >161</ion-select-option>
              <ion-select-option  >162</ion-select-option>
              <ion-select-option  >163</ion-select-option>
              <ion-select-option  >164</ion-select-option>
              <ion-select-option  >165</ion-select-option>
              <ion-select-option  >166</ion-select-option>
              <ion-select-option  >167</ion-select-option>
              <ion-select-option  >168</ion-select-option>
              <ion-select-option  >169</ion-select-option>
              <ion-select-option  >170</ion-select-option>
              <ion-select-option  >171</ion-select-option>
              <ion-select-option  >172</ion-select-option>
              <ion-select-option  >173</ion-select-option>
              <ion-select-option  >174</ion-select-option>
              <ion-select-option  >175</ion-select-option>
              <ion-select-option  >176</ion-select-option>
              <ion-select-option  >177</ion-select-option>
              <ion-select-option  >178</ion-select-option>
              <ion-select-option  >179</ion-select-option>
              <ion-select-option  >180</ion-select-option>
              <ion-select-option  >181</ion-select-option>
              <ion-select-option  >182</ion-select-option>
              <ion-select-option  >183</ion-select-option>
              <ion-select-option  >184</ion-select-option>
              <ion-select-option  >185</ion-select-option>
              <ion-select-option  >186</ion-select-option>
              <ion-select-option  >187</ion-select-option>
              <ion-select-option  >188</ion-select-option>
              <ion-select-option  >189</ion-select-option>
              <ion-select-option  >190</ion-select-option>
              <ion-select-option  >191</ion-select-option>
              <ion-select-option  >192</ion-select-option>
              <ion-select-option  >193</ion-select-option>
              <ion-select-option  >194</ion-select-option>
              <ion-select-option  >195</ion-select-option>
              <ion-select-option  >196</ion-select-option>
              <ion-select-option  >197</ion-select-option>
              <ion-select-option  >198</ion-select-option>
              <ion-select-option  >199</ion-select-option>
              <ion-select-option  >200</ion-select-option>
              <ion-select-option  >201</ion-select-option>
              <ion-select-option  >202</ion-select-option>
              <ion-select-option  >203</ion-select-option>
              <ion-select-option  >204</ion-select-option>
              <ion-select-option  >205</ion-select-option>
              <ion-select-option  >206</ion-select-option>
              <ion-select-option  >207</ion-select-option>
              <ion-select-option  >208</ion-select-option>
              <ion-select-option  >209</ion-select-option>
              <ion-select-option  >300</ion-select-option>
            </ion-select>
          </ion-item>

    </p>

  
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="goBack()" routerDirection="" color="medium" type="submit" expand="block" round strong> ย้อนกลับ </ion-button>
        </ion-col>
        <ion-col>
          <ion-button  *ngIf="amout"  (click)="createCartList()" routerDirection="" color="primary" type="submit" expand="block" round strong>ยืนยัน </ion-button>
          <ion-button  *ngIf="!amout" (click)="errorCreate()" routerDirection="" color="warning" type="submit" expand="block" round strong>ยืนยัน </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
