<ion-header>
  <ion-toolbar>
    <ion-title> {{item.FOOD_NAME}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
    <ion-img src="https://firebasestorage.googleapis.com/v0/b/test-98b25.appspot.com/o/images%2F{{item.FOOD_IMG}}.jpg?alt=media&token=f20a56f1-6ecd-4244-bec2-5344d235038b"></ion-img>
      <ion-item color='warning'>
        <ion-label>
          {{item.FOOD_NAME}}
        </ion-label>
      </ion-item>
    
      <ion-item color='warning'>
        <ion-label>
            ราคา &nbsp; {{item.FOOD_PRICE}} &nbsp; บาท
        </ion-label>
      </ion-item><!-- 
        <ion-item>
          <ion-label>
            จำนวน : &nbsp;&nbsp;
          </ion-label>
          <ion-input required type="number" readonly min="1" id='amout' id="amout" name='amout' [(ngModel)]="amout" value="1" placeholder="จำนวนที่ต้องการสั่ง">
            กล่อง
          </ion-input>
        </ion-item>
 -->
        
        <ion-item>
            <ion-label>จำนวน</ion-label>
            <ion-select value="1" ok-text="Okay" cancel-text="cancel" [(ngModel)]="amout" >
              <ion-select-option *ngFor="let i of y" value="i">{{i}}</ion-select-option>
            </ion-select>
          </ion-item>

    </p>

  
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="goBack()" routerDirection="" color="medium" type="submit" expand="block" round strong> ย้อนกลับ </ion-button>
        </ion-col>
        <ion-col>
          <ion-button  *ngIf="amout"  (click)="createCartList()" routerDirection="" color="primary" type="submit" expand="block" round strong>ยืนยัน </ion-button>
          <ion-button  *ngIf="!amout" (click)="errorCreate()" routerDirection="" color="warning" type="submit" expand="block" round strong>ยืนยัน </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
