<ion-header>
  <ion-toolbar>
    <ion-title>สมัครสมาชิก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding align="center">
  <p>          
    <img height="250" src="https://firebasestorage.googleapis.com/v0/b/test-98b25.appspot.com/o/ce7234c9cadfeb7ea8bbc7f61b3c713f.png?alt=media&token=1286d576-501a-42df-ad47-f13bc92ca5cf" />
  </p>

  <ion-list>

      <ion-item>
        <ion-label position="stacked">ชื่อ</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name" placeholder="เช่น ลุงหนวด ขายทุกวัน"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">ที่อยู่</ion-label>
          <ion-input text-wrap type="text" [(ngModel)]="location" name="location" placeholder=" เช่น 25/1-2 สุรนารายณ์ ซอย 15 ต.ในเมือง อ.เมือง จ.นม."></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">เบอร์โทรศัพท์</ion-label>
            <ion-input type="tel" [(ngModel)]="phone" name="phone" placeholder="เช่น 0912345678"></ion-input>
          </ion-item>
    
      <ion-item>
        <ion-label position="stacked">อีเมล์</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" placeholder=" เช่น LungNuad@gmail.com"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="stacked">รหัสผ่าน</ion-label>
        <ion-input  type="password" [(ngModel)]="password" name="password" minlength="6"  placeholder="ป้อนอักขระอย่างน้อย 6 ตัว"></ion-input>
      </ion-item>
     
    </ion-list>

    <ion-button expand="block" color="success" *ngIf="email && password && name && phone && location" (click)="signup()">สมัครสมาชิก</ion-button>
    <ion-button expand="block" color="warning"  *ngIf="!email || !password || !name || !phone || !location||password.minlength>=6" (click)="signupF()">สมัครสมาชิก</ion-button>

    <ion-button expand="block" color="danger" (click)="sBACK()">ย้อนกลับ</ion-button>
  
</ion-content>
