<ion-header>
  <ion-toolbar> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>สถานะ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <p  *ngFor="let item of food "  (click)="onClick(item)">

    <ion-card (click)="onClick(item)">
    <ion-list  >
      <ion-item color="{{item.color}}"> 
        <ion-label position="stacked"> 
          รหัสใบสั่งซื้อ : 
        </ion-label>
        <ion-input  readonly value="{{item.detailID}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"> 
          สถานะ
        </ion-label>
        <ion-input readonly value="{{item.status}} "></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  position="stacked"> 
          วันที่
        </ion-label>
        <ion-input readonly value="{{item.date}} "></ion-input>
      </ion-item>

      
      <ion-item lines="full" color="{{item.color}}">
          <ion-label  text-center>
              อาหารที่สั่ง
          </ion-label> 
      </ion-item>
      <ion-item lines="full" *ngFor="let items of item.food" >
          <ion-label >
                  {{items.food}} 
          </ion-label> 
          <ion-input>
              จำนวน  {{items.amount}} กล่อง  
          </ion-input>
      </ion-item>


    </ion-list>
    </ion-card>
  </p>
</ion-content>
