<ion-header>
  <ion-toolbar> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor="let item of food "  (click)="onClick(item)">
        <ion-item>
           รหัสใบสั่งซื้อ &nbsp; {{item.detailID}} &nbsp;   
        </ion-item>
        <ion-item>
           สถานะ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{item.status}} 
        </ion-item>
    </ion-list>
</ion-content>
