<ion-header>
  <ion-toolbar>
    <ion-title>cartTwo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding align='center'>
  <ion-item>
<ion-input [(ngModel)]="total"></ion-input>
</ion-item>
<label>
  ที่อยู่ที่จัดส่ง
</label>
<ion-input [(ngModel)]="location"></ion-input>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button (click)="pushCart()" routerDirection="" color="primary"   type="submit" expand="block" round strong> ยืนยันการสั่งซื้อ </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="pushCartNew()" routerDirection="" color="medium"   type="submit" expand="block" round strong> สั่งอาหารเพิ่ม </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-button (click)="goBack()" routerDirection="" color="primary" fill="full" round strong> กลับสู่หน้าหลัก </ion-button>
</ion-content>
